# Notion => Workspace => Connections
NOTION_API_KEY=""
# Notion database id. Found in url of database
NOTION_DATABASE_ID=""
# content folder name
PATH_CONTENT=""
# metadata json name
PATH_CONTENT_INDEX=""