@use '../../util';

:host {
  @include util.reset;
  ul {
    display: flex;
    margin: 0;
    padding: var(--size-oscar) var(--size-mike);
    gap: var(--size-mike);
    list-style: none;
    border-radius: var(--size-oscar);
    background: var(--color-mono-yankee);

    @media (prefers-color-scheme: light) {
      background: var(--color-mono-delta);
    }
  }

  a {
    color: var(--color-orange-alfa);
    text-decoration: none;
    text-transform: lowercase;

    &:hover {
      color: var(--color-orange-mike);
    }

    @media (prefers-color-scheme: light) {
      color: var(--color-mono-zulu);
    }
  }
}
