@use '../../util';

:host {
  a {
    @include util.reset;

    display: inline-block;
    color: var(--color-orange-mike);
    text-decoration: none;
    border-bottom: 1px solid var(--color-orange-mike);
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--color-orange-mike);
      text-decoration: none;
    }
  }
  article {
    > div {
      border-radius: var(--size-oscar);
      background-color: var(--color-mono-yankee);
      color: var(--color-mono-alfa);

      @media (prefers-color-scheme: dark) {
      }

      @media (prefers-color-scheme: light) {
        background-color: var(--color-mono-alfa);
        color: var(--color-mono-zulu);
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  header {
    display: flex;
    align-items: center;
    gap: var(--size-mike);
    user-select: none;
    background-size: cover;
    border-radius: var(--size-oscar);

    span {
      font-size: 4em;
    }

    h1 {
      font-size: var(--font-size-charlie);
    }
  }
}
