:host {
  display: flex;
  align-items: center;
  gap: var(--size-mike);
  padding: var(--size-mike);

  & {
    h1 {
      margin: 0;
      color: var(--color-mono-alfa);
      font-size: var(--font-size-echo);
      font-weight: var(--font-weight-mike);

      @media (prefers-color-scheme: light) {
        color: var(--color-mono-zulu);
      }
    }

    svg {
      width: var(--size-india);
      height: var(--size-india);
      border-radius: var(--size-oscar);
    }

    .brand {
      fill: var(--color-orange-mike);
    }

    .one {
      fill: var(--color-mono-yankee);
    }

    .two {
      fill: var(--color-mono-victor);
    }

    .three {
      fill: var(--color-mono-sierra);
    }

    .four {
      fill: var(--color-mono-papa);
    }

    .five {
      fill: var(--color-mono-mike);
    }

    .six {
      fill: var(--color-mono-juliett);
    }

    .seven {
      fill: var(--color-mono-golf);
    }

    .eight {
      fill: var(--color-mono-delta);
    }

    @media (prefers-color-scheme: light) {
      .one {
        fill: var(--color-mono-delta);
      }

      .two {
        fill: var(--color-mono-golf);
      }

      .three {
        fill: var(--color-mono-juliett);
      }

      .four {
        fill: var(--color-mono-mike);
      }

      .five {
        fill: var(--color-mono-papa);
      }

      .six {
        fill: var(--color-mono-sierra);
      }

      .seven {
        fill: var(--color-mono-victor);
      }

      .eight {
        fill: var(--color-mono-yankee);
      }
    }
  }
}
